<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/home.css">
</head>
<body>
    <h1>Home</h1>
    <div class="Box">
        <div class="headingsContainer">
            <h3>Welcome back {{usuarios.name}}!</h3>
            <img src="../img/UserPFP.png" width="300" height="300" ><br>
            _Id: {{usuarios._id}}<br>
            Name: {{usuarios.name}} <br>
            Password: {{usuarios.password}}<br>
        </div>

        <div class="mainContainer">
            <p>Options</p>
            <a href="/update"><img src="../img/settings.png"></a>
        </div>
    </div>
</body>
</html>