<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" type="text/css" href="../css/login.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LogIn</title>
</head>

<body>
    <h1>Luis Angel Cruz López</h1>

    <form action="/login" method="post" >

        <div class="headingsContainer">
            <h3>LogIn</h3>
            <p>Log in with your username and password</p>
        </div>

        <div class="mainContainer">
            <label for="name">Your username</label>
            <input type="text" name="name" placeholder="Name" required> 
            <br><br>

            <label for="password">Your password</label>
            <input type="password" name="password" placeholder="Password" required>
            <br>
            
            <button type="submit">Login</button>
            <p class="register">Not have a account? <a href="/signup">Register here</a></p>
        </div>
    </form>

    <form action="/consult" method="get" >
        <button type="submit">Consult users</button>
    </form>
</body>
</html>