<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" type="text/css" href="../css/signup.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign up</title>
</head>

<body>
    <h1>Luis Angel Cruz López</h1>

    <form action="/signup" method="post" >

        <div class="headingsContainer">
            <h3>Sign up</h3>
            <p>Log in with your username and password</p>
        </div>

        <div class="mainContainer">
            <label for="name">Your username</label>
            <input type="text" name="name" placeholder="Name">
            <br><br>

            <label for="password">Your password</label>
            <input type="password" name="password" placeholder="Password">
            <br>
            
            <button type="submit">Create account</button>
            <p class="login">You have a account? <a href="/">Login here</a></p>
        </div>
    </form>
</body>
</html>